@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
html{
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: -0.01em;
    font-weight: 500;
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.03;
}
/* Font Size */
h1{
    font-size: 2.986rem;
}

h2{
    font-size: 2.488rem;
}

h3{
    font-size: 2.074rem;
}

h4{
    font-size: 1.728rem;
}

/* General */
body{
    background-color: rgb(31, 31, 31);
    color:white;
}

.imgContainer{
    position: relative;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}